@model SOF005_Tarea4.Models.Formulario.Empleado
@{
    ViewBag.Title = "result";
}

<h2>result</h2>

Nombre: @Model.Nombre
<br />

Apellido: @Model.Apellido
<br />

Cedula: @Model.Cedula
<br />

Telefono: @Model.Telefono
<br />

Email: @Model.Email
<br />

Genero: @Model.Sexo
<br />

Poscion a que aspira: @Model.Posicion
<br />


<a href="/CV/@Model.Curriculum">Curriculum</a>
<br />

<img src="/Fotos/@Model.Foto" width="640" height="480" />
<br />
